.s-portfolio.target-section {
  /* background: url("../../assets/image/stars.svg"), #e5e5e5; */
  /* background-repeat: repeat; */
  /* background-color: aqua; */
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.s-portfolio.target-section h3 {

  width:170px;
  font-size: 40px;
  font-family: poppins;
  text-align: center;
  color: #ffffffff;
  font-weight: 400;
  padding: 10px 20px;
  background-color: #292929;
  letter-spacing: 2.5px;
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  margin:0 auto;

}
.s-portfolio__header{
  margin-top: 60px;
  
}

@media (max-width: 500px) {
  .s-portfolio.target-section h3 {
    font-size: 30px;
  }
}
