    .skills{
      background-color: whitesmoke;
      height: 100vh;
      width:100%;
      font-family: Poppins;
      overflow-x: hidden;
      margin: 0 ;
    }

    .skillsGrid{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap:min(5vw,40px);
      // padding:0 min(220px,11vw);
      padding: 0 min(320px, 13vw);
      padding-top: min(12vw,190px);
      padding-bottom: 50px;
      text-align: center;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      overflow: hidden;
  
    }

  
@media only screen and (max-width: 767px) {

  .skillsGrid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3vh;
      padding: 0 5vw;
      padding-top: 18vh;
      padding-bottom: 50px;
      text-align: center;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      overflow: hidden;
  
    }

}