@media only screen and (max-width: 767px) {

    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    .main {
        display: flex;
        letter-spacing: 0.5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        // box-sizing: border-box;
        // padding: 10px 50px;
        // margin: 0 20px;
        background-color: #f4f7ff;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
        /* If two positioned elements overlap without a z-index specified, the element positioned last in the HTML code will be shown on top.  */
        z-index: 1;
        // border: blue solid 1px;
    }

    .menu{
        display:flex;
        flex:row;
        // border: rgb(73, 169, 191) solid 1px;
        // flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width:100%;
        margin:6vh 4vw;
        font-weight: 200;        
        padding: 0;
        li {
            // padding: 10px 15px;
            color: #6c707c;
            font-size: 14px;
            text-transform: uppercase;
            // border: rgb(255, 0, 187) solid 1px;
        }

    }

    .lang {
        display:none;
    }
    
    .logo {
       display:none;
    }
    
    .toggle {
        display: none;
    }
    
    // .menu li a:hover {
    //     background-color: #292929;
    //     color: #ffffffff !important;
    //     font-weight: 600;
    // }
    
    .home-true{
        background-color: #292929;
        color: #ffffffff !important;
        font-weight: 600;
    }
    
    .about-true{
        background-color: #292929;
        color: #ffffffff !important;
        font-weight: 600;
    }
    
    .skills-true{
        background-color: #292929;
        color: #ffffffff !important;
        font-weight: 600;
    }
    
    .about-true{
        background-color: #292929;
        color: #ffffffff !important;
        font-weight: 600;
    }
    .portfolio-true{
        background-color: #292929;
        color: #ffffffff !important;
        font-weight: 600;
    }

}