.main{
    height:min(20%,130px);
    width:min(20%, 130px);
    border: rgb(116, 224, 224) solid 1px;
    padding:3px;
    border-radius: 4vh;
    background-color: rgb(232, 240, 237);
}


.main h3{
    font-size: min(1.5vh,16px);
    border:0;
    margin:0;
    padding:0;
    padding-top: 13%;
}

.main img{
    padding-top: 8%;
    padding-bottom: 8%;
    height:40%;
    width:40%;
    border-radius: 10px;
}

@media only screen and (max-width: 767px){

.main {
        height: 35%;
        width: 35%;
        border: rgb(116, 224, 224) solid 1px;
        padding: 3px;
        border-radius: 4vh;
        background-color: rgb(232, 240, 237);
    }


    .main h3 {
        font-size: 70%;
        border: 0;
        margin: 0;
        padding: 0;
        padding-top: 7%;
    }

    .main img {
        margin-top: 10px;
        height: 40%;
        width: 40%;
    }

}