


  .modal-internal-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width:100%;
    flex-wrap: wrap;
    background-color:#11abb0 ;
  }
  
  .modal__title {
    /* text-align: center; */
    font-size: 30px;
    font-weight: bold;
    color:#11abb0;
    height: 50px;
    /* margin-top: -65px; */
    /* margin-bottom: 30px; */
    /* border:#276873 solid 1px; */
  }

  .modal__title h1{
    display:inline-block;
    margin: 0;
  }
  
  .modal-video{
      height: 40%;
      max-height:260px;
      height: min(40%,260px);
      /* border:#276873 solid 1px; */
  }
    
  .modal-video iframe{
    /* height: 150%; */
    height: 100%;
    width: 90%;
    /* margin-top: 10px; */
    border-radius: 18px;
  }
  
  .modal-descriptionn{
    display: flex;
    color: #000;
    text-align: justify;
    width:100%;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    height: max(auto, 190px);
    overflow: hidden;
    justify-content: center;
  
  
  }
  .modal-descriptionn p{
    margin: 0;
    margin-bottom: 8px;
    font-size: 14.5px;
  }
  
  .link-container {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-around;
    /* border: #d26d66 solid 1px; */
    /* align-items: center; */
  }

  .link-container button {
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px transparent;
    font-family: poppins;
    font-size: 15px;
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding: 15px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    
  }
  
  .link-container button:hover {
      background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
      background-color:#408c99;
  
  }
  
  .link-container button:active {
      position:relative;
      top:1px;
  }

    @media only screen and (max-width: 767px) {
  
      .modal-internal-container {
        padding: 15px;
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
  
        /* border:#9a4815 solid 1px; */
      }
  
    }